.containerCardProyecto {
    max-height: 35vh;
    width: 95vw;
    margin-left: 2vw;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.025);
    display: flex;
    flex-direction: row;
    margin-bottom: 7.5vh;
}

.imageContainer {
    object-fit: contain;
}

.imageContainer img {
    max-height: 35vh;
    object-fit: cover;
}

.secondContainer {
    width: 60vw !important;
    min-height: 25vh;
}

.descripcion {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 20vh;
    padding-left: 2.5vw;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.github-demo {
    width: 100%;
    height: 7.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}

// .github-demo button {
//     font-size: 14px;
//     background-color: transparent;
//     color: #fff;
//     padding: 7.5px;
//     border: 1px solid #fff;
//     border-radius: 3px;
//     font-weight: 500;
//     line-height: 1.2;
//     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
//     cursor: pointer;
//     display: flex;
//     align-items: center;
// }

// .github-demo button:hover {
//     border: 1px solid #3498DB;
//     color: #3498DB;
//     box-shadow: 2px 2px 2px 1px rgba(52, 152, 219, 0.2);
// }

.tecnologias {
    width: 100%;
    height: 7.5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tecnologias button {
    font-size: 14px;
    background-color: rgba(182, 25, 230, 0.4);
    color: #fff;
    padding: 7.5px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    cursor: default;

}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    /* box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1); */
    outline: none;
}

.btn-3 {
    /* background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%); */
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;

}

.btn-3 span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.btn-3 span .MuiSvgIcon-root {
    font-size: 20px;
    margin-top: -5px;
    margin-right: 2.5px;
}

.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3:before {
    height: 0%;
    width: 2px;
}

.btn-3:after {
    width: 0%;
    height: 2px;
}

.btn-3:hover {
    background: transparent;
    box-shadow: none;
}

.btn-3:hover:before {
    height: 100%;
}

.btn-3:hover:after {
    width: 100%;
}

.btn-3 span:hover {
    color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2, 126, 251, 1);
    transition: all 0.3s ease;
}

.btn-3 span:before {
    width: 2px;
    height: 0%;
}

.btn-3 span:after {
    width: 0%;
    height: 2px;
}

.btn-3 span:hover:before {
    height: 100%;
}

.btn-3 span:hover:after {
    width: 100%;
}



@media (min-width: 600px) and (max-width: 900px) {
    .containerCardProyecto {
        max-width: 70vw;
        max-height: 100vh;
        width: 95vw;
        margin-left: 2vw;
        box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.025);
        display: flex;
        flex-direction: column;
        margin-bottom: 7.5vh;
    }

    .imageContainer {
        object-fit: contain;
        display: flex;
        justify-content: center;
    }

    .imageContainer img {
        max-width: 70vw;
        max-height: 60vh;
        object-fit: cover;
    }

    .secondContainer {
        width: 60vw !important;
        max-height: 55vh;
    }

    .descripcion {
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        max-width: 70vw;
        height: auto;
        padding-left: 2.5vw;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .github-demo {
        width: 70vw;
        height: 7.5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .tecnologias {
        width: 70vw;
        height: 7.5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media (min-width: 0px) and (max-width: 600px) {
    .containerCardProyecto {
        width: 100vw;
        max-height: 100vh;
        box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.025);
        display: flex;
        flex-direction: column;
        margin-bottom: 7.5vh;
    }

    .imageContainer {
        object-fit: contain;
        display: flex;
        justify-content: center;
    }

    .imageContainer img {
        width: 100vw;
        max-height: 60vh;
        object-fit: cover;
    }

    .secondContainer {
        width: 100vw;
        max-height: 70vh;
    }

    .descripcion {
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 100vw;
        height: auto;
        // padding-left: 2.5vw;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .github-demo {
        width: 100vw;
        height: 7.5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .tecnologias {
        width: 100vw;
        height: 7.5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}


@media (min-width: 0px) and (max-width: 300px) {
    .tecnologias {
        width: 100vw;
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}