.proyectosContainer {
    width: 100vw;
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 2.5vh;
    margin-left: -.5vw;
}

.titleContainerProyectos {
    width: 100vw;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}


@media (min-width: 600px) and (max-width: 900px) {
    .proyectosContainer {
        width: 100vw;
        height: auto;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.5vh;
        margin-left: -2.5vw;
    }
}

@media (max-width: 600px) {
    .proyectosContainer {
        width: 100vw;
        height: auto;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2.5vh;
        margin-left: -2.5vw;
    }
}