.container {
    width: 100vw;
    height: 70vh !important;
    color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    /* margin-left: -2.5vw; */
}


.containerTitleAndPicture {
    display: flex;
    flex-direction: row;
}

.containerTitleAndType {
    width: 50vw;
    height: 100%;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.containerTitle {
    max-width: 100%;
    height: 37.5vh;
    display: flex;
    align-items: flex-end;
    text-align: start;
    font-weight: 500;
}

.containerType {
    max-width: 100%;
    height: 37.5vh;
    display: flex;
    align-items: flex-start;
    text-align: start;
    color: #5DADE2;
    font-weight: 600;
}

.containerPicture {
    width: 50vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3498DB;
    font-weight: 600;
}

.pictureIcon.MuiSvgIcon-root {
    font-size: 200px;
}




@media (min-width: 600px) and (max-width: 900px) {
    .container {
        width: 100vw;
        height: 70vh !important;
        color: #fff;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
    }


    .containerTitleAndPicture {
        display: flex;
        flex-direction: column;
        padding-top: 7.5vh;
    }

    .containerTitleAndType {
        width: 100%;
        height: 35vh;
        font-size: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containerTitle {
        max-width: 100%;
        height: 10vh;
        display: flex;
        align-items: flex-end;
        text-align: start;
        font-weight: 500;
    }

    .containerType {
        max-width: 100%;
        height: 10vh;
        display: flex;
        align-items: flex-start;
        text-align: start;
        color: #5DADE2;
        font-weight: 600;
    }

    .containerPicture {
        width: 100%;
        height: 35vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3498DB;
        font-weight: 600;
    }

    .pictureIcon.MuiSvgIcon-root {
        font-size: 200px;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        height: 70vh !important;
        color: #fff;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
    }


    .containerTitleAndPicture {
        display: flex;
        flex-direction: column;
        padding-top: 7.5vh;
    }

    .containerTitleAndType {
        width: 100%;
        height: 35vh;
        font-size: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .containerTitle {
        max-width: 100%;
        height: 10vh;
        display: flex;
        align-items: flex-end;
        text-align: start;
        font-weight: 500;
    }

    .containerType {
        max-width: 100%;
        height: 10vh;
        display: flex;
        align-items: flex-start;
        text-align: start;
        color: #5DADE2;
        font-weight: 600;
    }

    .containerPicture {
        width: 100%;
        height: 35vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3498DB;
        font-weight: 600;
    }

    .pictureIcon.MuiSvgIcon-root {
        font-size: 200px;
    }
}