  .cohete {
      position: absolute;
      left: 49%;
      top: 51.5%;
      margin: 0 0;
      animation: go 3s alternate infinite;

      transform: rotate(270deg);
  }

  .rocket {
      position: absolute;
      width: 70px;
      height: 132px;
      -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
      border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
      background: #054c99;
      transform: rotate(121deg);
      margin: 33px 121px;


  }

  .rocket::before {
      content: "";
      display: block;
      width: 53px;
      height: 7px;
      background: white;
      margin: 30px 9px
  }

  .rocket::after {
      content: "";
      display: block;
      width: 70px;
      height: 7px;
      background: white;
      margin: 45px 0px
  }

  .ventanita {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background: #99088b;
      border: 3px solid white;
      margin: -25px 18px
  }

  .ventanita::before {
      content: "";
      display: block;
      width: 21px;
      height: 21px;
      border-radius: 100%;
      border-right: 3px solid white;
      margin: 3px 3px
  }

  .aleta {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 121px solid #99088b;
      margin: 40px 102px;
      transform: rotate(-55deg)
  }

  .fuego {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      background: #DB660D;
      border-radius: 50px 50px 0 50px;
      transform: rotate(50deg);
      margin: 137px 3px
  }

  .fuego::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background: orange;
      border-radius: 50px 50px 0 50px;
      transform: rotate(-3deg);
      margin: 12px 12px
  }

  .fuego3 {
      position: absolute;
      top: 0;
      left: 0;
      width: 21px;
      height: 21px;
      background: #DB660D;
      border-radius: 50px 50px 0 50px;
      transform: rotate(50deg);
      margin: 47px 0px
  }

  .fuego3::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 9px;
      height: 9px;
      background: orange;
      border-radius: 50px 50px 0 50px;
      transform: rotate(-3deg);
      margin: 7px 7px
  }

  @keyframes go {

      0%,
      25% {
          margin: 0px 0px;
      }

      100% {
          margin: 12px 3px;
      }
  }