.containerImage {
    height: 100%;
    width: auto;
    object-fit: contain;

    .imageCard {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .arrowsContainer {
            position: absolute;
            height: 100%;
            width: 100%;
            max-height: 45vh;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .arrowButtons {
                cursor: pointer;
                z-index: 100;

                .MuiSvgIcon-root {
                    font-size: 30px;
                }
            }

            // .leftArrowIcon {}

            // .rightArrowIcon {}
        }

        img {
            // height: 250px;
            max-height: 45vh;
            max-width: 35vw;
            object-fit: cover;
            z-index: -1;
        }
    }

}

















// .imageContainer {
//     object-fit: contain;

//     img {
//         max-height: 35vh;
//         object-fit: cover;
//     }
// }


@media (min-width: 600px) and (max-width: 900px) {
    .containerImage {

        .imageCard {

            img {
                max-width: 70vw;
                max-height: 60vh;
                object-fit: cover;
            }
        }

    }


}

// @media (min-width: 0px) and (max-width: 600px) {
//     .imageContainer {
//         object-fit: contain;
//         display: flex;
//         justify-content: center;

//         img {
//             width: 100vw;
//             max-height: 60vh;
//             object-fit: cover;
//         }
//     }
// }